@model MarketApp.Web.Models.CartCollection

@{
    ViewData["Title"] = "Index";
}

<h3>Sepet</h3>
<hr/>

@if (Model.CartItems.Count > 0)
{
    <div>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th scope="col">Resim</th>
                    <th scope="col">İsim</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Adet</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var cartItem in Model.CartItems)
                {
                    <tr>
                        <td><img src="@cartItem.Product.ImageUrl" alt="@cartItem.Product.Name" style="width:2em;height:2em" /></td>
                        <td>@cartItem.Product.Name</td>
                        <td>@Math.Round((cartItem.Product.Price * (1- cartItem.Product.Discount)), 2) TL</td>
                        <td>@cartItem.Product.Description</td>
                        <td>@cartItem.Quantity</td>
                        <td>
                            <button class="btn btn-outline-success btn-sm increase" data-id="@cartItem.Product.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                            <button class="btn btn-outline-danger btn-sm decrease" data-id="@cartItem.Product.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        @if (Model.CartItems.Count > 0 && ViewBag.IsAuthenticated)
        {
            <div class="column">
                <span>Toplam: @Math.Round(Model.GetTotal(), 2) TL</span>
                <a asp-action="Order" type="button" class="btn btn-outline-success btn-sm">Sepeti Onayla</a>
            </div>
        }
    </div>
}
else
{
    <span class="gray-empty">Sepet Boş...</span>
}


@section Scripts{
<script>
    $(document).ready(function () {
        $('.increase').on('click', function (){
            let id = $(this).data('id');
            $.ajax({
                url: 'Cart/Add/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log('cartcontroller: ', data);
                },
                complete: function() {
                    location.reload();
                }
            });
        })
    });

    $(document).ready(function () {
        $('.decrease').on('click', function (){
            let id = $(this).data('id');
            $.ajax({
                url: 'Cart/RemoveOne/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log('cartcontroller: ', data);
                },
                complete: function() {
                    location.reload();
                }
            });
        })
    });
</script>
}