@model GetProductsResponse


<div class="card product-card">
    <img src=@Model.ImageUrl class="card-img-top" alt=@Model.Name>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        @if (Model.Discount != 0)
        {
            <p class="card-text">@(Math.Round(Model.Price, 2)) TL Yerine @(Math.Round((Model.Price) * (1 - Model.Discount), 2)) TL</p>
        }
        else
        {
            <p class="card-text">@Model.Price TL</p>
            
        }
        <a class="btn btn-primary sepet" data-id="@Model.Id">Sepete Ekle</a>
    </div>
</div>
